body {
	background-color: rgb(97, 190, 102);
	text-align: center;
	font-family: 'Sniglet';
	font-size: 15pt;
	color:#282692;

    
}

h1{
	color: #282692;
	font-size: 22pt;
}

p{
	color: black;
}

input {
	position:relative;
	background-color:#ec7729;	
	font-size: 80pt;
	width: 180px;
	height: 150px;
	margin: 0;
	border-radius: 10px;
	color: #282692;

}

#jogador {
	
	border: 1px solid black;
	margin-top: 10px;
	
}

#reiniciar {
	position: flex;
	width: 12vw;
	height:5vw;
	font-size: 22pt;
	color: black;
    border-radius: 10px;
	font-family: 'Sniglet';
	
}